<IfModule mod_security2.c>
   SecRuleRemoveById 210220 210240
</IfModule>

<ifmodule mod_headers.c>
Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Methods "*"
Header set Access-Control-Allow-Headers "Content-Type"
</ifmodule>
